body {
  font-family: Arial;
  margin: 0;
  background: #0b1220;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #121a2b;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.section {
  text-align: center;
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1f2a44;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.photo {
  width: 100%;
  border-radius: 10px;
}